@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("./assets//fonts/InterDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roobert";
  src: url("./assets//fonts/Roobert.woff2") format("woff2");
  font-weight: 400;
  
  font-display: swap;
}
body{
  @apply font-sans;
}