@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("./assets//fonts/InterDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body{
  @apply font-sans;
}