
*{
    margin: 0%;
    padding: 0%;
      box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
    
}
.header{
    height: 60px;
    background-color: white;
    border-bottom: 0.5px solid #0046FF;
}
.area{
    margin: 0px 20px 0px 20px ;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    
}
.logoName{
color: #0046FF;
cursor: pointer;
}
.Date{
    padding: 0.2em 0.5em;
    border: 1px solid #0046FF;
    margin-right: 20px;
    border-radius: 1rem;
    cursor: pointer;
}
.addforam{
    height: 300px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.expenseForm{
    height: 50px ;
    width: 70%;
    border: 1px solid #0046FF;
    border-radius: 1.5rem;
    background-color: white;
    display: flex;
   
}
.inputArea {
    flex: 3;
    border-right: 1px solid #0046FF;
}
.foramInput{
    padding-left: 1rem;
    border: 0;
    height: 100%;
    width: 96%;
    background-color: transparent;
    outline: none;
    
    

}
.ExpensePrice {
    flex: 2;
    border-right: 1px solid #0046FF;
}
.PriceInput{
    height: 100%;
     border: 0;
     background-color: transparent;
    outline: none;
    padding-left: 0.5rem;
   
}
.ExpenseCategory {
    flex: 2;
    border-right: 1px solid #0046FF;
}
.Catergory{
    height: 100%;
     border: 0;
     background-color: transparent;
    outline: none;
    padding-left: 0.5rem;
}
ul{
    list-style: none;
    display: none;
    flex-direction: column;
    
    
}
.UlDisplay{
    display: flex;
}
.liBtn{
    border: 0;
    background-color: transparent;
    font-size: medium;
    width: 100%;

    
}

ul li{
    height: 40px;
    display: flex;
    justify-content: center;
    border: 1px solid #0046FF;
}
.FormDateInput{
 height: 100%;
     border: 0;
     background-color: transparent;
    outline: none;
    padding-left: 0.2rem;
    color: grey;
}
.FormDate {
    flex: 2;
    border-right: 1px solid #0046FF;
}

.FormAdd {
    flex: 1;
}

.addExpense{
    border: 0;
    background-color: transparent;
    font-size: medium;
   background-color: #0046FF;
   color: white;
   border-top-right-radius: 1.5rem;
   border-bottom-right-radius: 1.5rem;
   
   width: 100%;
    height: 100%;
}
.TodaysExpense{
    height: 300px;
}

.Expensearea{
margin: 10px 120px 10px 120px ;

border: 1px solid #0046FF;
border-radius: 1.5rem;
background-color: white;
height: 100%;
display: flex;
flex-direction: column;
}
.DateOfExpense{
display: flex;
justify-content: center;
}
.GuidArea{
    height: 60px;
    border-bottom: 1px solid #0046FF;
    display: flex;
}
.No{
    flex: 1;
    border-right: 1px solid #0046FF;

}
.input{
    flex: 3;
    border-right: 1px solid #0046FF;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.price{
    flex: 2;
    border-right: 1px solid #0046FF;

}
.category{
    flex: 2;
    
    border-right: 1px solid #0046FF;

}
.date{
    flex: 2;
}
.ExpenseareaText{
    display: flex;
    align-items: center;
    justify-content: center;
}
.AddDetails{
    height: 60px;
    display: flex;
    border-bottom: 1px solid #0046FF;
}
.msg{
    display: none;
}
.msgshow{
display: flex;
}